body {
    --bg-color: white;
    --text-color: #202020;
    --inv-text-color: white;
    --tooltip-bg-color: black;
    --border-color: black;
}
@media (prefers-color-scheme: dark) {
    body {
        --bg-color: #1b1e20;
        --text-color: #c8c8c8;
        --inv-text-color: black;
        --tooltip-bg-color: var(--text-color);
        --border-color: #787878;
    }
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0 1rem;
}
h1, ol {
    padding-left: 2rem;
}

.timeline {
    border: 1px solid var(--border-color);
    display: flex;
}
.timeline-big {
    width: 800px;
}
.timeline-small {
    width: 300px;
}

.activity {
    position: relative;
    display: inline-block;
}
.activity-big {
    height: 30px;
}
.activity-small {
    height: 10px;
}
.activity .tooltiptext {
    background-color: var(--tooltip-bg-color);
    color: var(--inv-text-color);
}
.activity .tooltiptext {
    visibility: hidden;
    border-radius: 6px;
    padding: 5px 10px;
    white-space: nowrap;

    position: absolute;
    z-index: 100;
}
.activity-small .tooltiptext {
    top: 45px;
}
.activity-big .tooltiptext {
    top: 35px;
}
.activity:hover, .activity:focus {
    opacity: 0.8;
}
.activity:hover .tooltiptext, .activity:focus .tooltiptext {
    visibility: visible;
}

.ticks {
    display: flex;
    width: 800px;
    margin-bottom: 16px;
}
.tick {
    box-sizing: border-box;
    border-right: 1px solid var(--border-color);
    position: relative;
    display: inline-block;
    height: 5px;
}
.tick-text{
    position: absolute;
    right: 0px;
    margin-right: -15px;
    margin-top: 4px;
    width: 30px;
    text-align: center;
    font-size: 75%;
    opacity: 0.8;
}
