.timeline {
    background-color: white;
    border: 1px solid black;
    display: flex;
}

.timeline-big {
    width: 800px;
}
.timeline-small {
    width: 300px;
}

.activity {
    /*outline: 1px solid black;*/
    position: relative;
    display: inline-block;
}
.activity-big {
    height: 30px;
}
.activity-small {
    height: 10px;
}

.activity .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 5px 10px;
    white-space: nowrap;

    position: absolute;
    z-index: 100;
}

.activity-small .tooltiptext {
    top: 45px;
}
.activity-big .tooltiptext {
    top: 35px;
}

.activity:hover {
    opacity: 0.8;
}
.activity:hover .tooltiptext {
    visibility: visible;
}

.ticks {
    display: flex;
    width: 800px;
    margin-bottom: 16px;
}
.tick {
    box-sizing: border-box;
    border-right: 1px solid black;
    position: relative;
    display: inline-block;
    height: 5px;
}
.tick-text{
    position: absolute;
    right: 0px;
    margin-right: -15px;
    margin-top: 4px;
    width: 30px;
    text-align: center;
    font-size: 75%;
    opacity: 0.8;
}
