body {
    color: rgb(50, 50, 50);
    --border-color: black;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(27, 30, 32);
        --text-color: rgb(220, 220, 220);
        color: var(--text-color);
        --border-color: rgb(120, 120, 120);
    }
}

.timeline {
    border: 1px solid var(--border-color);
    display: flex;
}

.timeline-big {
    width: 800px;
}
.timeline-small {
    width: 300px;
}

.activity {
    position: relative;
    display: inline-block;
}
.activity-big {
    height: 30px;
}
.activity-small {
    height: 10px;
}

.activity .tooltiptext {
    background-color: black;
    color: white;
}
@media (prefers-color-scheme: dark) {
    .activity .tooltiptext {
        background-color: var(--text-color);
        color: black;
    }
}
.activity .tooltiptext {
    visibility: hidden;
    border-radius: 6px;
    padding: 5px 10px;
    white-space: nowrap;

    position: absolute;
    z-index: 100;
}

.activity-small .tooltiptext {
    top: 45px;
}
.activity-big .tooltiptext {
    top: 35px;
}

.activity:hover {
    opacity: 0.8;
}
.activity:hover .tooltiptext {
    visibility: visible;
}

.ticks {
    display: flex;
    width: 800px;
    margin-bottom: 16px;
}
.tick {
    box-sizing: border-box;
    border-right: 1px solid var(--border-color);
    position: relative;
    display: inline-block;
    height: 5px;
}
.tick-text{
    position: absolute;
    right: 0px;
    margin-right: -15px;
    margin-top: 4px;
    width: 30px;
    text-align: center;
    font-size: 75%;
    opacity: 0.8;
}
